with open('{{ exam_lockdown_token_file }}') as f:
  _token = f.read().strip()

c.JupyterHub.services = [
  {
    'name': 'examauth-monitor',
    'api_token': _token,
  }
]

c.JupyterHub.load_roles = [
  {
    'name': 'examauth-monitor-role',
    'scopes': ['admin:servers', 'read:users'],
    'services': ['examauth-monitor'],
  }
]
