#!/bin/bash

source ./env

echo "Evaluando en puerto: ${PORT}"

GREEN='\033[0;32m'
RED='\033[0;31m'
NC='\033[0m'

BASE="http://localhost:${PORT}"

run_test() {
  local name="$1"
  shift

  TEST_FAILED=0
  TEST_ERRORS=()

  "$@"

  if (( TEST_FAILED == 0 )); then
    echo -e "${GREEN}✓ PASS${NC} [$name]\n\n"
  else
    echo -e "${RED}✗ FAIL${NC} [$name]"
    printf '    %s\n' "${TEST_ERRORS[@]}"
    echo -e "\n\n"
  fi
}

check_request() {
  local expected_status="$1"
  local expected_body="$2"
  shift 2

  local response body status

  echo $2 $3
  response=$(curl -s -w "|||%{http_code}" "$@")
  body="${response%|||*}"
  status="${response##*|||}"

  if [[ "$expected_body" =~ ^-?[0-9]+(\.[0-9]+)?$ ]]; then
    expected_body=$(printf "%g" "$expected_body")
  fi

  if [[ "$status" != "$expected_status" ]]; then
    TEST_FAILED=1
    TEST_ERRORS+=("REQ: $3")
    TEST_ERRORS+=("└──Expected status $expected_status, got $status")
  fi

  if [[ -n "$expected_body" ]] && ! grep -Fq -- "$expected_body" <<<"$body"; then
    TEST_FAILED=1
    TEST_ERRORS+=("REQ: $3")
    TEST_ERRORS+=("├──Body did not contain '$expected_body'")
    TEST_ERRORS+=("└──Body: $body")
  fi
}

test_create() {
  check_request 201 "true" \
    -X POST "$BASE/float/$(seq -100 .01 100 | shuf | head -n1)"

  check_request 201 "true" \
    -X POST "$BASE/float/$(seq -100 .01 100 | shuf | head -n1)"

  check_request 201 "true" \
    -X POST "$BASE/float/$(seq -100 .01 100 | shuf | head -n1)"

  check_request 400 "numeric string is expected" \
    -X POST "$BASE/float/e"

  check_request 400 "numeric string is expected" \
    -X POST "$BASE/float/@"
}

test_get() {
  local rand1=$(seq -100 .01 100 | shuf | head -n1)
  local rand2=$(seq -100 .01 100 | shuf | head -n1)
  local rand3=$(seq -100 .01 100 | shuf | head -n1)

  check_request 201 "true" \
    -X POST "$BASE/float/${rand1}"

  check_request 201 "true" \
    -X POST "$BASE/float/${rand2}"

  check_request 201 "true" \
    -X POST "$BASE/float/${rand3}"

  check_request 200 "${rand1}" \
    -X GET "$BASE/float"

  check_request 200 "${rand2}" \
    -X GET "$BASE/float"

  check_request 200 "${rand3}" \
    -X GET "$BASE/float"
}

test_update() {
  local rand1=$(seq -100 .01 100 | shuf | head -n1)
  local rand2=$(seq -100 .01 100 | shuf | head -n1)
  local newRand1=$(seq -100 .01 100 | shuf | head -n1)
  local newRand2=$(seq -100 .01 100 | shuf | head -n1)

  check_request 201 "true" \
    -X POST "$BASE/float/${rand1}"

  check_request 201 "true" \
    -X POST "$BASE/float/${rand2}"

  check_request 200 "true" \
    -X PUT "$BASE/float?oldFloat=${rand1}&newFloat=${newRand1}"

  check_request 200 "true" \
    -X PUT "$BASE/float?oldFloat=${rand2}&newFloat=${newRand2}"

  check_request 200 "false" \
    -X PUT "$BASE/float?oldFloat=$(seq -100 .01 100 | shuf | head -n1)&newFloat=-99"

  check_request 200 "${newRand1}" \
    -X GET "$BASE/float"

  check_request 200 "${newRand2}" \
    -X GET "$BASE/float"
}

test_delete() {
  local rand1=$(seq -100 .01 100 | shuf | head -n1)
  local rand2=$(seq -100 .01 100 | shuf | head -n1)

  check_request 201 "true" \
    -X POST "$BASE/float/${rand1}"

  check_request 201 "true" \
    -X POST "$BASE/float/${rand2}"

  check_request 200 "true" \
    -X DELETE "$BASE/float/${rand1}"

  check_request 200 "true" \
    -X DELETE "$BASE/float/${rand2}"
}

run_test "POST /float/:newFloat" test_create
run_test "GET /float" test_get
run_test "PUT /float?oldFloat=x&newFloat=y" test_update
run_test "DELETE /float/:exFloat" test_delete
